<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
	<title>Configurações de Acesso</title>
</head>

<section layout:fragment="conteudo">
<div class="p-2 p-lg-5 d-flex flex-column justify-content-md-center"> 
	<button type = button class="btn btn-success col-md-2 col p-2 my-2 mx-md-0"  data-toggle="modal" data-target="#cadastroRoles"><i class="fa fa-users m-1" aria-hidden="true"></i>Nova Configuração de Acesso</button>
	<table id="myTable" class="table table-striped table-bordered">
		<thead class="bg-success">
			<tr>
				<th>Grupo</th>
				<th>Permissão</th>
				<th>Escopo</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="rolePermissao :${listaRolePermissao}">
				<td data-title="Grupo" th:text="${rolePermissao.role.nome}"></td>
				<td data-title="Permissao" th:text="${rolePermissao.permissao.nome}"></td>
				<td data-title="E-mail" th:text="${rolePermissao.escopo.nome}"></td>
				<td class="d-flex justify-content-center">
					<button type="button" data-toggle="modal" data-target="#confirmacao" th:roleId="${rolePermissao.role.id}" th:permissaoId="${rolePermissao.permissao.id}" th:escopoId="${rolePermissao.escopo.id}"
					class="btn btn-danger btn-sm excluir">Excluir</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal" id="cadastroRoles">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Nova Role Permissão</h2>
			</div>
			<div class="modal-body">
				<form class="d-flex flex-column justify-content-center m-2" th:action="@{/admin/roles/permissao/nova}" method="post"
                    th:object="${RolePermissao}">     
					<select th:field="*{role}">
						<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.nome}" style="width:300px;"></option>
					</select>
					
					<select th:field="*{permissao}">
						<option th:each="permissao : ${permissoes}" th:value="${permissao.id}" th:text="${permissao.nome}" style="width:300px;"></option>
					</select>
					
					<select th:field="*{escopo}">
						<option th:each="escopo : ${escopos}" th:value="${escopo.id}" th:text="${escopo.nome}" style="width:300px;"></option>
					</select>
					<div class="form-group d-flex align-self-center justify-content-center">
                        <button type="submit" class="btn btn-success m-1" style="width:100px;">Salvar</button>
                        <button type="button" class="btn btn-danger m-1" data-dismiss="modal"
                            style="width:100px;">Cancelar</button>
                    </div>
				</form>
			</div>
		</div>
	</div>
</div>

	<div class="modal fade" id="confirmacao" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title">Confirma a exclusão ?</h3>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
	        <button type="button" class="btn btn-danger" id="botaoconfirmacao">Excluir</button>
	      </div>
	    </div>
	  </div>
	</div>


<script>
	$(".admin").addClass("active");
	
	$( document ).ready(function() {
		$('select').addClass("custom-select").addClass("m-1");
		$('select').css("width","auto");
		$('input').addClass("form-control");
		$('label').addClass("d-flex").addClass("align-items-baseline");

	});
	
	$(".excluir").click(function(){
		let escopoId = $(this).attr("escopoId");
		let roleId = $(this).attr("roleId");
		let permissaoId = $(this).attr("permissaoId");
		console.log(permissaoId, escopoId, roleId)
		$("#botaoconfirmacao").attr("escopoId", escopoId);
		$("#botaoconfirmacao").attr("roleId", roleId);
		$("#botaoconfirmacao").attr("permissaoId", permissaoId);
	}
	);
	
	$("#botaoconfirmacao").click(function(){
		let escopoId = $(this).attr("escopoId");
		let roleId = $(this).attr("roleId");
		let permissaoId = $(this).attr("permissaoId");
		$.ajax({
			url:`/admin/roles/permissao/${roleId}/${permissaoId}/${escopoId}`,
			type:'delete',
			success: function(){
				location.reload();
				}
			})	
		}
	);
</script>

</section>
</html>