<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Mecânicos</title>
</head>

<section layout:fragment="conteudo">
	<div class="p-2 d-flex flex-column justify-content-md-center">
		<div class="row m-1">
			<a href="mecanicos/novo" class="btn btn-success col-12 col-md-2 mb-1 mb-md-0 mr-md-1">
				<i class="fa fa-users" aria-hidden="true"></i>Novo Mecânico
			</a> <a href="mecanicos/demitidos"
				class="btn btn-warning col-12 col-md-2"> <i
				class="fa fa-file-text" aria-hidden="true"></i>Mecânicos
				Demitidos
			</a>
		</div>
	<table id="myTable" class="table table-striped table-bordered">
				<thead class="bg-success">
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Admissão</th>
						<th>Salario</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mecanico :${mecanicos}">
						<td th:text="${mecanico.nome}"></td>
						<td th:text="${mecanico.cpf}"></td>
						<td th:text=" ${#dates.format(mecanico.admissao, 'dd/MM/yyyy')}"></td>
						<td th:text="${'R$ ' + mecanico.salariobase}"></td>
						<td style="width: 150px;"><a
							class="ml-2 btn btn-warning btn-sm"
							th:href="@{/mecanicos/alterar/{id}(id=${mecanico.id})}">Alterar</a>
							<a class="btn btn-danger btn-sm"
							th:href="@{/mecanicos/deletar/{id}(id=${mecanico.id})}">Demitir</a>
						</td>
					</tr>
				</tbody>
			</table>	
		</div>
</section>
</html>