<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">

<head>
	<title>Página Inicial</title>
	<style type="text/css">
		
		.jumbotron {
			
			background-color: #a7dbad;
		
		}
		
	</style>
</head>

<section layout:fragment="conteudo">
	<div class="jumbotron jumbotron-fluid m-1">
		<div class="container">
			<h1 class="display-4">Bem Vindo ao Oficinet.</h1>
			<p class="lead">Acesse as funções pela barra de navegação no topo do Site.</p>
		</div>
	</div>
</section>
</html>